.page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    overflow: hidden;
}
  
.logo {
    width: 80vw;
    position: fixed;
    transition: all 1s ease;
}
  
.logo.shrink {
    transform: translateY(-20vh);
    width: 50vw;
}

.page.shrink {
    justify-content: space-around;
}

.archiveTable {
    width: 80vw;
    border: 0.1rem solid black;
    background-color: white;

    font-size: calc(0.5rem + 0.5vw);

    position: fixed;
    transition: all 1s ease;
    transform: translateY(100vh);

}

.archiveTable.visible {
    transform: translateY(10vh);
}

.archiveRow {
    display: flex;
    justify-content: space-between;
    padding: 0.9rem;
}

.line {
    margin: 0 0.9rem;
    border-bottom: 0.1rem solid black;
}

.archiveCell:nth-child(1) {
    width: 15%;
}

.archiveCell:nth-child(2) {
    width: 35%;
}

.archiveCell:nth-child(3) {
    width: 35%;
}

.archiveCell:nth-child(4) {
    width: 15%;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(-50%) translateY(0);
    }
    40% {
      transform: translateX(-50%) translateY(-10px);
    }
    60% {
      transform: translateX(-50%) translateY(-5px);
    }
}
  
.scrollDown {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: bounce 2s infinite;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.scrollDown.visible {
    opacity: 0;
}

.archiveRow:hover .hoverPrint {
    display: block;
}

.hoverPrint {
    border: 0.1rem solid black;
    background-color: white;
    display: none;
    position: fixed;
    top: 50;
    left: 50%;
    width: 55vw;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1000;
    padding: calc(1rem + 1vw);
}

.hoverContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: calc(1rem + 1vw);
}

.hoverFrame {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hoverImage {
    width: 100%;
}

.hoverInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.subtitle {
    font-size: 0.8rem;
    padding-top: calc(0.4rem + 0.4vw);
}

.body {
    font-size: calc(0.6rem + 0.5vw);
}

@media (max-width: 768px) {
    .logo {
        width: 90vw;
        position: fixed;
        transition: all 1s ease;
    }
      
    .logo.shrink {
        transform: translateY(-20vh);
        width: 80vw;
    }

    .archiveRow {
        padding: calc(0.4rem + 0.4vh);
    }

    .archiveTable {
        width: 90vw;
    }

    .archiveCell:nth-child(1) {
        width: 10%;
    }

    .archiveCell:nth-child(4) {
        width: 20%;
    }

    .scrollDown {
        bottom: 14vh;
    }

    .hoverPrint {
        width: 80vw;
    }

    .hoverContainer {
        height: 100%;
        flex-direction: column;
    }
    
    .hoverFrame {
        width: 100%;
    }
    
    .hoverInfo {
        width: 100%;
    }
}