.titleText {
  width: 30vw;
  font-weight: 700;
  padding: 2vh 2vw;
  margin-left: 6vw;
}

@media (max-width: 768px) {
  .titleText {
    width: 30vw;
    font-weight: 700;
    padding: 4vw;
    margin: 0;
  }
}